<div class="card shadow text-center" style="max-width: 350px; min-width: 350px">
  <img
    src="../../assets/AL.JPG"
    width="120"
    height="120"
    class="rounded-circle img-fluid mx-auto"
    alt="Profile picture"
  />
  <div class="card-body">
    <h5 class="card-title fw-bold">{{projectName}}</h5>
    <p class="card-text">{{projectDescription}}</p>
    <button class="btn btn-primary">{{projectLink}}</button>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap justify-center"> 
      <div class="tag me-2 mb-2">Angular</div>
      <div class="tag me mb-2">Typescript</div>
    </div>
  </div>
</div>
