<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="justify-center flex gap-10">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-black font-bold">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-black font-bold">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-black font-bold">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-black font-bold">Contact</a>
      </li>
    </ul>
  </div>
</nav> 
