<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="justify-center flex gap-10">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Portfolio</a>
      </li><li class="nav-item">
        <a class="nav-link text-secondary" href="#">Resume</a>
      </li><li class="nav-item">
        <a class="nav-link text-secondary" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
