<div class="container">
  <div class="row">
    <!-- About -->
    <div class="col-lg shadow border m-1 rounded-sm">
      <div class="text-center">
        <h2 class="text-4xl underline">About Me</h2>
        <img
          src="../../assets/AL.JPG"
          width="256"
          height="256"
          class="rounded-circle img-fluid"
          alt="Profile picture"
        />
        <p class="text-wrap text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel officiis
          incidunt eos, iusto libero facilis rerum magni! At, autem
          reprehenderit non minima, molestias fugiat ab asperiores consequatur
          cupiditate adipisci eligendi.
        </p>
      </div>
    </div>
    <!-- featured project -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2 class="text-4xl underline">Projects</h2>
      </div>
    </div>
  </div>
</div>
