<div class="container"><div class="container">

  <div class="row">
    <!-- About -->
    <div class="col-lg shadow border m-1 rounded-md">
      <div class="text-center">
        <h2 class="text-4xl underline">About Me</h2>
        <img
          src="../../assets/AL.JPG"
          width="256"
          height="256"
          class="rounded-circle img-fluid mx-auto"
          alt="Profile picture"
        />
        <p class="text-wrap text p-10">
          Hi! I'm AL, a software engineer with experience in web development
        </p>
      </div>
    </div>
    <!-- featured project -->
    <div class="col-lg shadow border m-1 rounded-md">
      <div class="text-center">
        <h2 class="text-4xl underline">Projects</h2>
      </div>
    </div>
  </div>
</div>
